<div>
 <%= flash[:notice3] %>
 <% flash.each do |message_type, message| %>
  <%= content_tag :div, message, class: message_type %>
 <% end %>
</div>

<div class="container">
 <div class="row">
    <div class="col-lg-4">
      <%= render partial: 'books/inf', locals: { user: @user } %>
    </div>
 
    <div class="col-lg-8">
    <h1>Books</h1>
    <table class="table table-hover">
        <tr>
         <th></th>
         <th>Title</th>
         <th>Opinion</th>
        </tr>
        <% @books.each do |book| %>
        <tr>
         <td><%= image_tag @user.get_image(50,50) %></td>
         <td>
          <%= link_to book_path(book.id) do %>
          <%= book.title %>
          <% end %>
         </td>
         <td><%= book.body %></td>
        </tr>
        <% end %>
    </table>
 </div>
</div>
