<% if @book.errors.any? %>
  <%= @book.errors.count %> error prohibited this obj from being saved:
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<div class="container-fluid">
  <div class="my-3 center-block">
    <div>
<h1>Editing Book</h1>

<%= form_with model: @book,url:book_path(@book.id),method: :patch do |f| %>
 <p>Title</p>
 <%= f.text_field :title %>

<p>Opinion</p>
 <%= f.text_area :body %>
 
 <div>
  <button type="submit" class="btn btn-primary">Update Book</button>
 </div>
 
 <div class="d-flex">
 <%= link_to "Show",  book_path(@book.id) %>
 <%= link_to "Back", "/books" %>
 </div>
 
 </div>
 </div>
 

<% end %>