<h1>Books#edit</h1>
<p>Find me in app/views/books/edit.html.erb</p>

<%= form_with model: @book,url:book_path(@book.id),method: :patch do |f| %>
 <h2>Title</h2>
 <%= f.text_field :title %>

<h2>Body</h2>
 <%= f.text_area :body %>
 <%= f.submit 'Update Book' %>
 
 <%= link_to "Show",  book_path(@book.id) %>
 <%= link_to "Back", "/books" %>

<% end %>