<h1>Books#index</h1>
<p>Find me in app/views/books/index.html.erb</p>

<% @books.each do |book| %>
<%= image_tag book.user.get_image(50,50) %>
<%= book.user.name %>
<%= book.title %>
<%= book.body %>
<% end %>

<%= render partial: 'inf', locals: { user: @user } %>