<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/495e87bfa1.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column vh-100">
    <header class="bg-dark text-white">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <a href="/">Bookers</a>
          
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
    <% if user_signed_in? %>
    <li class="nav-item p-2">
     <i class="fa-solid fa-house-chimney"></i>
     <%= link_to "Home", user_path(current_user) %>
    </li>
     
    <li class="nav-item p-2">
     <i class="fa-solid fa-user"></i>
     <%= link_to "Users", users_path %>
    </li>
     
    <li class="nav-item p-2">
     <i class="fa-solid fa-book"></i>
     <%= link_to "Books", books_path %>
    </li>
     
    <li class="nav-item p-2">
     <i class="fa-solid fa-right-from-bracket"></i>
     <%= link_to "Log out", destroy_user_session_path, method: :delete %>
    </li>
      
    <% else %>
    <li class="nav-item p-2">
     <i class="fa-solid fa-house-chimney"></i>
     <%= link_to "Home", user_path(current_user) %>
    </li>
     
    <li class="nav-item p-2">
     <i class="fa-solid fa-link"></i>
     <%= link_to "About", home_about_path %>
    </li>
     
    <li class="nav-item p-2">
     <i class="fa-solid fa-user-plus"></i>
     <%= link_to "Sign up", new_user_registration_path %>
    </li>
     
    <li class="nav-item p-2">
     <i class="fa-solid fa-right-to-bracket"></i>
     <%= link_to "Log in", new_user_session_path %>
    </li>
     
    <% end %>
       </ul>
      </div>
    </div>
   </nav>
  </header>
  
  <main class="mb-auto">
    <%= yield %>
  </main>
  
  <footer class="bg-white">
   <div class="container">
     <p class="fw-light text-center">CopyRight Infratop.inc</p>
   </div>
  </footer> 
  </body>
</html>
